body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

h2 {
    margin-left: 20px;
    margin-top: 35px;
}

.block-menu {
    margin: 0 20px 30px 20px;
}
.block-menu a {
    display: block;
    background: #3da2df;
    color: #fff;
    padding: 16px;
    margin-bottom: 8px;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #fff;
}

.inline-menu {
    margin: 0 20px 30px 20px;
}
.inline-menu a {
    display: inline;
    background: #39b563;
    color: #fff;
    padding: 8px 12px;
    margin-right: 8px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
}

.inlineblock-menu {
    margin: 0 20px 30px 20px;
}
.inlineblock-menu a {
    display: inline-block;
    background: #a251be;
    color: #fff;
    padding: 10px 22px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 8px;
}

.float-menu {
    margin: 0 20px 30px 20px;
    overflow: auto;
}
.float-menu a {
    float: left;
    background: #ea8a1a;
    color: #fff;
    padding: 14px 28px;
    margin-right: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 8px;
}

.float-menu::after {
    content: "";
    clear: both;
    display: table;
}